<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>XS INDEX PAGE</title>
		<script type="text/javascript">
			window.data = "%v";
			window.version = "%v";
		</script>
		<script type="module" crossorigin src="/assets/index.0e0cf98c.js"></script>
		<link rel="modulepreload" href="/assets/vendor.fbfbf163.js">
		<link rel="stylesheet" href="/assets/vendor.05e485e7.css">
		<link rel="stylesheet" href="/assets/index.8221853f.css">
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
